:root {
    --base-color: #f6f9fc;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

.darkmode {
    --base-color: #1E2022;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;    
}

body {
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    font-size: 1.2em;
    line-height: 30px;
    max-width: 100%;
    margin: 50px;
    
}

.profile {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    filter: drop-shadow(0px 1px 3px var(--base-variant))
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    filter: drop-shadow(0px 1px 3px var(--base-variant))
}

#theme-switch:hover {
  cursor: pointer;
}

#theme-switch svg {
    fill: var(--primary-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

#theme-switch:active {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #444444;
     outline: none;
}

.container {
    display: inline-block;
}

.input-statement1 {
    font-size: 6vw;
    letter-spacing: 7px;
    font-family: Monaco, Consolas, Lucida Console, monospace;
    font-size: 16px;
    color: #f7f7f7;
    border-right: 5px solid;
    width: 3%;
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
    animation:
        typing 0.5 steps(2),
        cursor .4s step-end infinite alternate;
}

.text {
    font-size: 6vw;
    letter-spacing: 7px;
    font-family: Monaco, Consolas, Lucida Console, monospace;
    color: #747fe0;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
    animation:
        typing 1s steps(14),
        cursor .4s step-end infinite alternate;
}

/* cursor blinking */
@keyframes cursor {
    50% { border-color: transparent;}
}

/* typing effect */
@keyframes typing {
    from {width: 0px;}
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
        .button-container {
          justify-content: center; /* Center-align items on smaller screens */
        }
      }

/* Projects&Contact Style */
.button-container {
    display:flex;
    justify-content: right;
    align-items: right;
    top: 20px;
    right: 85px;
    position: absolute;
  gap: 20px; /* Adjust spacing between buttons */
  /* Responsive adjustments */
  @media screen and (max-width: 768px) { /* Adjust breakpoint as needed */
    flex-direction:row;
    align-items: flex-start;
    gap: 10px; /* Adjust spacing for smaller screens */
  }
}

/*hover animation*/
.projects {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
    margin-right: auto;
}

.projects::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 6PX;
    width: 0;
    background: #747fe0;
    transition: width .15s;
}

.projects:hover::after {
    width: 100%;
}



.contact {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

.contact::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 6PX;
    width: 0;
    background: #747fe0;
    transition: width .15s;
}

.contact:hover::after {
    width: 100%;
}

.button-container a,
.button-container button {
  text-decoration: none;
  color: var(--text-color);
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

/*Terminal*/
.about-container {
    margin-top: 20vh;
    margin: 0 auto;
}


.about-container .terminal .terminal-header .green {
    background-color: #33c948;
    border: 1px solid #2dbb41;
}

.about-container .terminal .terminal-header .red {
    background-color: #f96256;
    border: 1px solid #f65549;
}

.about-container .terminal .terminal-header .yellow {
    background-color: #fdbc3d;
    border: 1px solid #ffb524;
}

.about-container .terminal .terminal-header .header-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 9px;
}

.about-container .terminal .terminal-header {
    height: 28px;
    background-color: var(--base-variant);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-container .terminal .terminal-window {
    background-color: #5a5d7a;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .15), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .12);
    font-family: Monaco, Consolas, Lucida Console, monospace;
}

.about-container .terminal .terminal-window a {
    color: #35feff;
}

.about-container .terminal .terminal-window .statement .input-statement {
    color: #f7f7f7;
}

.about-container .terminal .terminal-window .statement .return-statement {
    color: #e7d184;
}

.about-container .terminal .terminal-window .statement {
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;
    line-height: 24px;
}

.about-container .terminal .terminal-window .statement:last-child {
    padding-bottom: 60px;
}

.about-container .terminal .terminal-window .statement:first-child {
    padding-top: 35px;
}

body {
    margin: 100px 20px 0; /* Top, right, bottom, left */
  }

  @media only screen and (max-width: 600px) {
    /* Styles for mobile devices */
    body {
      font-size: 16px; /* Adjust font size as needed */
    }
    .body {
      width: 10%; /* Make the container more responsive */
    }
    .image {
      width: 100%; /* Make images responsive */
    }
  }

  html {
    min-height: 100vh;
    font-size: 0.9em;
    line-height: 30px;
    max-width: 1000px;
    margin: auto;
}
