h1, h2, h3, h4, p{
    text-align: center;
    color: white;
    font-style: normal;
  }

body {
    background-color: skyblue;
}

h4 {
    width: 400px;
    text-align: center;
    font-style: normal;
    color: white;
    margin: auto;
}

fieldset {
    border-color: white;
    border-style: dotted;
}
